{% extends 'CRDB/index.html' %}
{% block extra_head %}

{% endblock %}

{% block web_title %}[converter]{% endblock %}

{% block extra %}{% endblock %}




{% block content %}


	<div>
		<form target="upload_frame" enctype="multipart/form-data" id="form_upload_data" method="POST" action="/file_upload_converter/{{projects.id}}/">
			{% csrf_token %}

			<div class="col-md-4">
				<input id="id_files" name="files" type="file" class="filestyle" data-buttonName="btn-primary"> <br>
				<textarea class="form-control" cols="40" id="id_info"  maxlength="100" type="text" name="info" rows="1">#инфо</textarea> 

				 <br>
				<textarea class="form-control" cols="4" id="id_temp"  maxlength="10" type="text" name="temp" rows="1">24.7</textarea> 
				<div>
					<br>
					<div class="col-md-1">
						<span class="glyphicon glyphicon-thumbs-up" id="like_count" aria-hidden="true">{{projects.total_likes}}</span>
					</div>
					<div class="col-md-2">
						{% if user.is_authenticated %}
					     <button type="button" id="like" name="{{projects.slug}}" class="btn btn-primary btn-xs" >  Like </span></button>
					     {% else %}
					     <button type="button" id="like" name="{{projects.slug}}" disabled="disabled" class="btn btn-primary btn-xs">Like</button>
					     {% endif %}
				    </div>
				    
					<div class="col-md-9">
						<span id="message" class="label label-primary"></span>
					</div>
			 	</div>
		
				
				
			</div>

			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

			<div class="col-md-6">

				<div style="height:30px;overflow:hidden;margin-right:15px;">
				   <table class="table">
				       <thead>
				           <tr>
				                <th>OK</th>
				                <th>Предложения в разроботку конвертера</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				              <td>NEW</td>
				                <td>
				                	<form action="/add_suggest/{{projects.id}}/" method="post" role="suggest_form" class="clearfix">
				                		{% csrf_token %}
				                	<input id="id_text" maxlength="300" name="text" type="text" cols="40"  class="form-control" rows="1" placeholder="Your Suggest!">
				                <td>
				                	<button type="submit" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
				                	</form>
				                </td>
				            </tr>
				            <tr>
				                <td>Cel 2,1</td>
				                <td>Cel 2,2</td>
				            </tr>
				            <tr>
				                <td>Cel 3,1</td>
				                <td>Cel 3,2</td>
				            </tr>


				        </tbody>
				    </table>
				</div>
				<div style="height:200px;overflow-y:scroll;;">
				    <table class="table">
				        <thead>

				        </thead>
				        <tr>	
				        			
				                <td>NEW</td>
				                <td>
				                	<form action="/add_suggest/{{projects.id}}/" method="post" role="suggest_form" class="clearfix">
				                		{% csrf_token %}
				                	<input id="id_text" maxlength="300" name="text" type="text" cols="40"  class="form-control" rows="1" placeholder="Your Suggest!">
				                <td>
				                	<button type="submit" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
				                	</form>
				                </td>
				                
				            </tr>

				        <tbody>
				        	{% for suggests in suggestions %}
				            <tr>
				                <td>{{suggests.executed}}</td>
				                <td>{{suggests.text}}</td>
				            </tr>
				            {%endfor%}
				             <tr style="color:white">
				                <th>Col 1</th>
				                <th>Col 2</th>
				            </tr>
				        </tbody>
				    </table>
				</div>
					
			</div>

		</form>

	</div>


	<div class = 'row'>
	<br><br>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>ID</th>
		      <th>Name</th>
		      <th>[detector #1]</th>
		      <th>[detector #2]</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for element in uploaded %}
		      <tr>
		        <td>{{element.id}}</td>
		        <td><a href="/converter_detail/{{element.id}}/">
		         <p>{{element.file_f}} </p></a>
		        	{% if element.info %}{{element.info}}{% endif %}
		        	<p>{{element.dated}} </p>
		        	<p>время: {{ element.time| time:"H:i:s" }}</p>
		        	<p>Темп: {{ element.temperature}}</p>
		        </td>
			        <td>H<sub>1</sub> = {% if element.half_width_1 %}{{element.half_width_1}}{% endif %}|
			        	 {% if element.center_1 %}  X<sub>0</sub> = {{element.center_1}}{% endif %}|
			        	 {% if element.max2 %}  AMP = {{element.max2}}{% endif %}<br>
		        	<a href="{% if element.converter_result.url %}{{ element.converter_result.url }}{% endif %}">
		        		<img src="{% if element.converter_result.url %}{{ element.converter_result.url }}{% endif %}"  height="300" /><br></a>
		        	<center><a href="{% if element.file_converted1.url %}{{ element.file_converted1.url }}{% endif %}"> <p>[detector1.dat]</p></a></center></td>
			        <td>H<sub>2</sub> = {% if element.half_width_2 %}{{element.half_width_2}}{% endif %}|
			        	 {% if element.center_2 %}  X<sub>0</sub> = {{element.center_2}}{% endif %}|
			        	 {% if element.max2 %} AMP = {{element.max2}}{% endif %}<br>
		        	<a href="{% if element.converter_result_2.url %}{{ element.converter_result_2.url }}{% endif %}">
		        		<img src="{% if element.converter_result_2.url %}{{ element.converter_result_2.url }}{% endif %}"  height="300" /></a><br>
		        	<center><a href="{% if element.file2_converted2.url %}{{ element.file2_converted2.url }}{% endif %}"> <p>[detector2.dat]</p></a></center></td>
		      </tr>
		    {% endfor %}
		  </tbody>
		</table>

	</div>   

{% endblock %}



{% block name_of %}
		<h1 class="page-header">[{{projects.project_name}}]</h1>
{% endblock %}






{% block comments %}
	<div>
	 
	    <h4>Leave a comment</h4>
	 
	    
	 		
	    	<div class="col-md-6 form-group">
	    	{% if user.is_authenticated %}
	    		<div>
					<h3><span class="label label-primary">> {{user.first_name}} {{user.last_name}}</span></h3>
				</div>
	    	{% else %}
		    	<label class="sr-only" for="name">Name</label>
		        <input id="comment_user"  name="user_name"  type="text" class="form-control" placeholder="Name">
			{% endif %}
	            
	        </div>
	        <div class="col-md-12 form-group">

	            <tr><th><label for="comment_text">Comment:</label></th><td>
	            	<textarea class="form-control" cols="40" id="comment_text"  placeholder="your comment" maxlength="3000" name="comment" rows="3"></textarea>    	            	
	        </div>
	 		<div id = 'proverka' class="col-md-8 form-group text-right"> 
	 			проверка
	 		</div>
	        <div class="col-md-4 form-group text-right">
	            <button type="button" id = "comment_but" class="btn btn-primary btn-xs">Submit</button>
	        </div>

	    
	</div>

<div class = "col-md-12 form-group">

	    <blockquote>
			 <p id = 'user_com'></p>
			 <footer id = 'text_com'></footer>
		</blockquote>

   {% for post in comments %}	
	    <blockquote>
			 <p>{{post.name}} ({{post.submit_date}})</p>
			 <footer>{{post.comment}}</footer>
		</blockquote>
	{% empty %}
	<p>No comments here yet :(</p>
	{% endfor %}

<!--http://django-contrib-comments.readthedocs.org/en/latest/models.html-->
</div>
{% endblock %}





 {% block last_one %}
<script>
	$('#like').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'like' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",

               success: function(response) {
                      // alert(response.message);
                      // alert('Company likes count is now ' + response.likes_count);
                       $('#like_count').html(response.likes_count)
                       $('#message').html(response.message)
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          }); 
    })


</script>





<script>
	$('#comment_but').click(function(){
      $.ajax({
               type: "POST",
               url: "/add_comment/{{projects.id}}/",
                
               data: {'comment_text': $( "#comment_text" ).val(),'comment_user': $( "#comment_user" ).val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",

               success: function(response) {
                      // alert(response.message);
                      // alert('все хорошо');
                       // $('#like_count').html(response.likes_count)
                       $('#proverka').text('все хорошо')
                   
                       $('#text_com').text($( "#comment_text" ).val())
                       $('#user_com').text('{{ user.first_name }} (Только что)')
                },
                error: function(rs, e) {
                       $('#proverka').text('ошибка')
                       alert(rs.responseText);
                }
          }); 
    })
</script>
{% endblock %}