<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% block extra_head %}{% endblock %}
    <script type="text/javascript" language="javascript" src="{% static "CRDB/js/jquery.min.js" %}" ></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/CRDB/img/icon.ico">
    <title>{% block web_title %}[PHYSO]{% endblock %}</title>
    <link href="{% static "CRDB/css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "CRDB/js/bootstrap.js"%}"></script>
    <script type="text/javascript" src=" {% static "CRDB/js/bootstrap-filestyle.js" %}"> </script>
    
    <link href="{% static "CRDB/css/sweetalert.css" %}" rel="stylesheet">
    <script src="{% static "CRDB/js/sweetalert.min.js"%}"></script>
    
    <style>
    body {
        padding-top: 60px;     
    }
    </style>

</head>
<body>
    dsd
</body>

</html>