{% extends 'CRDB/index.html' %}

{% block web_title %}[references]{% endblock %}

{% block extra %}
{% endblock %}


{% block name_of %}
		<h1 class="page-header">[{{projects.project_name}}]</h1>
{% endblock %}

{% block content %}

<script language="JavaScript">
	 if (top.location.search=="") {swal({   
	 	title: "ПАРОЛЬ",   
	 	text: "Введите пароль доступа",   
	 	type: "input",   
	 	closeOnConfirm: false,   
	 	animation: "slide-from-top",   
	 	inputPlaceholder: "password", 
	 	showLoaderOnConfirm: true, }, 

	 	function(inputValue){   
	 		if (inputValue === false) return false;

	 		if  (!(inputValue === '123')) {  top.location.href="http://atknin.ru/"}   
	 		setTimeout(function(){     swal(
	 		'Good job!',
	 		'правильно',
	 		'success')  }, 30); });};
	</script>


{% endblock %}



<script language="JavaScript">
	 if (top.location.search=="") {
	 pass = prompt('Введите пароль');
	 if (pass=='1') // Ваш пароль акивации
	 { alert('ОК') } else { alert('Не верно'), top.location.href="http://atknin.ru/" }};
	</script>




{% block comments %}
	<div>
	 
	    <h4>Leave a comment</h4>
	 
	    <form action="/add_comment/{{projects.id}}/" method="post" role="form" class="clearfix">{% csrf_token %}
	 		
	    	<div class="col-md-6 form-group">
	            <label class="sr-only" for="name">Name</label>
	            <input id="id_user_name"  name="user_name"  type="text" class="form-control" placeholder="Name">
	        </div>
	        <div class="col-md-12 form-group">

	            <tr><th><label for="id_comment">Comment:</label></th><td>
	            	<textarea class="form-control" cols="40" id="id_comment"  placeholder="your comment" maxlength="3000" name="comment" rows="3"></textarea>    	            	
	        </div>
	 
	        <div class="col-md-12 form-group text-right">
	        	
	            <button type="submit" class="btn btn-primary">Submit</button>
	        </div>

	    </form>
	</div>



   {% for post in comments %}	
	    <blockquote>
			 <p>{{post.name}} ({{post.submit_date}})</p>
			 <footer>{{post.comment}}</footer>
		</blockquote>
	{% empty %}
	<p>No comments here yet :(</p>
	{% endfor %}

<!--http://django-contrib-comments.readthedocs.org/en/latest/models.html-->
{% endblock %}


 {% block last_one %}
   
{% endblock %}